

h1 {
    text-align: center;
    background-color: green;
    margin-bottom: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
}


main {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    justify-content: center;
}

main > #leftNav {
    background: lightgreen;
    
    text-align: center;
    order: 1;
    display: grid;
    grid-column-start: 1;
    
    grid-row-start: 1;
    grid-row-end: 5;
    height: 520px;
    font-size: 20px;
}



section {
    background: lightgray;
    
    display: flex;
    flex-direction: row;
    height: 520px;
    order: 2;
    font-size: 28px;
    justify-content: center;
}

main > #rightdiv {
    background: lightgreen;
    
    text-align: center;
    order: 3;
    display: grid;
    height: 520px;
    font-size: 20px;
    justify-content: center;
    
}

footer {
    background: green;
   
    text-align: center;
    position: fixed;
    width: 1350px;
}

button {
    height: 30px;
    float: right;
    margin-top: 20px;
    
}
a {
  justify-content: center;
  border: solid black 1px;
  height: 30px;
  margin-left: 65px;
  margin-right: 65px;
  color: black;
}
input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
    margin-top: 20px;
    height: 60px;
    width: 500px;
}